#itemPage {
  min-height: 100vh;
  padding: 10px;
}
#itemPage #backToTheCatalog {
  font-size: 0.9rem;
}
#itemPage h2 {
  margin: 5px 0;
}
#itemPage #itemStars {
  display: inline-flex;
}
#itemPage #itemStars .star {
  width: 20px;
  height: 20px;
  background-position: 50%;
  background-size: 100%;
}
#itemPage #main_photo {
  margin: 10px 0;
  height: 300px;
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}
#itemPage #photo_list {
  height: 75px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 15px;
}
#itemPage #photo_list #photo_moving_part {
  display: inline-flex;
}
#itemPage #photo_list #photo_moving_part .photo {
  margin: 0 5px;
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}
#itemPage #price {
  margin: 5px 0 10px;
  font-size: 1.3rem;
}
#itemPage .redBtn {
  width: 100%;
  height: 50px;
}
#itemPage #panel {
  margin: 10px 0;
  display: flex;
  justify-content: space-around;
}
#itemPage #panel #favorite,
#itemPage #panel #compare {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#itemPage #panel #favorite img,
#itemPage #panel #compare img {
  width: 25px;
  height: 25px;
}
#itemPage #panel #favorite span,
#itemPage #panel #compare span {
  font-size: 0.9rem;
}
#itemPage #main_features {
  margin: 5px 0;
}
#itemPage #colors_picker {
  margin: 5px 0 0;
}
#itemPage #colors {
  display: flex;
  flex-wrap: wrap;
}
#itemPage #colors * {
  border-radius: 50%;
}
#itemPage #colors .color_picker {
  margin: 5px 10px 5px 0;
  box-sizing: border-box;
  padding: 7px;
  width: 45px;
  height: 45px;
  border: 1px solid #4a4d4e;
}
#itemPage #colors .color_picker .color_picker_circle {
  width: 100%;
  height: 100%;
}
#itemPage .item_property {
  overflow: hidden;
  display: flex;
  border: 1px solid #dedede;
  padding: 15px;
}
#itemPage .item_property span {
  font-size: 0.95rem;
  flex: 1;
  min-width: 50%;
  max-width: 50%;
  word-break: break-word;
}
#itemPage #showAllProperties {
  font-size: 0.9rem;
  margin: 5px 0;
  text-decoration: underline;
  color: #4a4d4e;
}
#itemPage #availble_shops_title {
  margin-bottom: 0;
}
#itemPage .available_shops {
  margin: 5px 0;
  font-size: 0.9rem;
  color: black;
}
#itemPage #listOfProperties {
  margin: 50px 0;
}
#itemPage .itemFadeButton {
  border: 1px solid #d8d8d8;
  border-left: none;
  border-right: none;
}
#itemPage .itemFadeButton .show_part {
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}
#itemPage .itemFadeButton .show_part p {
  font-size: 1.2rem;
}
#itemPage .itemFadeButton .show_part button {
  border: none;
  background-repeat: no-repeat;
  background-color: #f4f4f4;
  background-position: 50%;
  background-size: 75%;
  width: 25px;
  height: 25px;
}
#itemPage .itemFadeButton .hideable_part {
  margin: 5px;
}
#itemPage #reviews .hideable_part {
  padding: 10px 0;
}
#itemPage #reviews .hideable_part #no_comments {
  margin: 0;
  text-align: center;
}
#itemPage #reviews .hideable_part .comments {
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}
#itemPage #reviews .hideable_part .comments .review {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  display: flex;
  border: 1px solid #d8d8d8;
}
#itemPage #reviews .hideable_part .comments .review .r_heading {
  height: 50px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d8d8d8;
}
#itemPage #reviews .hideable_part .comments .review .r_heading .author {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#itemPage #reviews .hideable_part .comments .review .r_heading .author * {
  margin: 0;
}
#itemPage #reviews .hideable_part .comments .review .r_heading .author .a_name {
  font-size: 0.7rem;
  font-weight: bold;
  margin-bottom: 2px;
}
#itemPage #reviews .hideable_part .comments .review .r_heading .author .a_date {
  font-size: 0.7rem;
}
#itemPage #reviews .hideable_part .comments .review .r_heading .comment_info {
  display: flex;
  justify-items: center;
  align-items: center;
}
#itemPage #reviews .hideable_part .comments .review .r_heading .comment_info img {
  width: 17px;
  height: 17px;
  margin-right: 4px;
}
#itemPage #reviews .hideable_part .comments .review .r_heading .comment_info p {
  font-size: 0.8rem;
  margin: 0;
}
#itemPage #reviews .hideable_part .comments .review .r_comment {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  border-bottom: 1px solid #d8d8d8;
}
#itemPage #reviews .hideable_part .comments .review .r_comment p {
  margin: 0;
  font-size: 0.8rem;
  word-break: break-word;
}
#itemPage #reviews .hideable_part .comments .review .r_comment h3 {
  margin: 5px 0;
  font-size: 0.85rem;
}
#itemPage #reviews .hideable_part .comments .review .r_judging {
  display: flex;
  justify-content: space-between;
}
#itemPage #reviews .hideable_part .comments .review .r_judging button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  border-radius: 14px;
  flex: 1;
  margin: 10px 5px;
  background-color: #f4f4f4;
  transition: border 0.2s;
  border: none;
  border: 1px solid transparent;
}
#itemPage #reviews .hideable_part .comments .review .r_judging button:hover {
  border: 1px solid black;
  transition: border 0.3s;
}
#itemPage #reviews .hideable_part .comments .review .r_judging button:last-child img {
  transform: rotate(180deg);
}
#itemPage #reviews .hideable_part .comments .review .r_judging button img {
  width: 20px;
  height: 20px;
}
#itemPage #reviews .hideable_part .comments .review .r_judging button span {
  margin-left: 5px;
  font-size: 0.7rem;
}
#itemPage #reviews .hideable_part .comments #showAllComments {
  text-align: center;
  font-size: 0.9rem;
  margin: 0;
  margin-top: 10px;
  text-decoration: underline;
}

/*# sourceMappingURL=itemPage.css.map */
