$white: white;
$red: #e60000;
$grey: #4a4d4e;
$light_grey: #f4f4f4;
$text_grey: #333;
$text_light_grey: #999;
$window_bg: #0a0a0aa1;

@mixin font($font) {
  font-family: $font, Arial, Helvetica, sans-serif;
}

@mixin bg {
  background-position: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

@mixin crossBtn {
  cursor: pointer;
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
  @include bg;
}

@mixin input {
  border: none;
  outline: none;
  @include font("text");
  font-size: 0.9rem;
  color: $text_grey;
}