.item {
  box-shadow: 0px 0px 2px 1px #62626259;
  box-sizing: border-box;
  padding: 10px;
  margin: 0 5px;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  background-color: $white;
  img {
    height: 200px;
    margin: auto;
    margin-bottom: 5px;
  }
  .name {
    font-size: 1rem;
  }
  .itemStars {
    margin: 7px 0;
    height: 15px;
    .star {
      width: 15px;
      height: 15px;
    }
  }
  .price {
    color: $red;
    font-size: 1.2rem;
  }
  .topItemButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      margin: auto;
      margin-left: 0;
      padding: 0;
      margin: 5px 0;
      .redBtn {
        position: relative;
        z-index: 60;
        width: 100%;
        height: 100%;
      }
    }
    img {
      cursor: pointer;
      margin: 0 15px;
      width: 25px;
      height: 25px;
    }
  }
}

@media (min-width: 425px) {
  .item {
    min-width: 320px;
    min-height: 400px;
    img {
      margin-top: 0;
      height: 250px;
    }
    .topItemButtons {
      img {
        width: 35px;
        height: 35px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .item {
    margin: 10px;
    min-width: 280px;
    min-height: 0;
    height: auto;
    img {
      height: 180px;
    }
    .name {
      margin-top: 5px;
      font-size: 0.9rem;
    }
    .itemStars {
      .star {
        width: 10px;
        height: 10px;
      }
    }
    .topItemButtons {
      margin-top: 7px;
      height: 50px;
      a {
        .redBtn {
          font-size: 0.8rem;
        }
      }
      img{
        width: 25px;
        height: 25px;
      }
    }
  }
}

@media (min-width: 1440px){
}