@import "init";

header {
  position: relative;
  background-color: $white;
  border-bottom: 1px solid $light_grey;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 15px;
  #logo {
    width: 35px;
    height: 35px;
  }
  #catalog_bar {
    display: inline-flex;
    align-items: center;
    img {
      width: 17px;
      height: 17px;
    }
    span {
      margin-left: 5px;
      color: $red;
      font-family: text;
    }
  }
  #menu_icon {
    width: 21px;
    height: 21px;
  }
  #catalog_bar,
  #menu_icon {
    margin-left: 15px;
  }
}
#menu,
#catalog {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: absolute;
  width: 95vw;
  height: 100vh;
  background-color: $white;
}
#menu {
  padding: 10px 0;
  right: 0;
  top: 0;
  section {
    padding: 0 8px;
  }
  #sec1 {
    margin: 15px 0;
    display: flex;
    #user {
      display: flex;
      align-items: center;
      img {
        width: 35px;
        height: 35px;
      }
      span {
        margin-left: 5px;
      }
    }
    button {
      margin-left: auto;
      margin-right: 0;
      width: 30px;
      height: 30px;
    }
  }
  #sec2 {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    #location {
      flex: 1;
      display: flex;
      padding: 0 15px;
      align-items: center;
      span {
        margin-left: 5px;
      }
      img {
        width: 15px;
        height: 15px;
      }
    }
    #lang {
      position: relative;
      flex: 1;
      display: flex;
      padding: 0 15px;
      align-items: center;
      justify-content: space-between;
      img {
        width: 15px;
        height: 15px;
      }
      #langWindow {
        display: flex;
        align-items: center;
        padding: 0 15px;
        width: 100%;
        box-sizing: border-box;
        height: 68px;
        position: absolute;
        background-color: white;
        top: 37px;
        left: 0;
        box-shadow: 0 3px 4px 1px #d6d6d6;
      }
    }
  }
  #sec3 {
    .menu_link {
      margin: 20px 0;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      img {
        width: 25px;
        height: 25px;
      }
      span {
        margin-left: 5px;
      }
    }
  }
  #sec4 {
    display: flex;
    flex-direction: column;
    padding: 15px 50px;
    background-color: $light_grey;
    border: 0.5px solid $grey;
    box-sizing: border-box;
    border-left: none;
    border-right: none;
    a {
      margin: 8px 0;
    }
  }
  #sec5 {
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    display: flex;
    margin: auto 0 0;
    img {
      width: 25px;
      height: 25px;
    }
    .phone_number {
      margin-left: 10px;
    }
    .callback {
      color: $red;
    }
  }
}
#catalog {
  overflow: hidden;
  left: 0;
  top: 0;
  #catalog_header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $red;
    min-height: 50px;
    * {
      margin: 0;
      color: $white;
    }
    .closeBtn {
      left: 10px;
      position: absolute;
    }
  }
  #catalog_items {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    .catalog_item {
      padding: 0 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $grey;
      min-height: 50px;
      background-color: transparent;
      .itemImg {
        width: 25px;
      }
      .arrow {
        transform: rotate(-90deg);
      }
    }
  }
  #sub_items {
    width: 95vw;
    height: 100vh;
    z-index: 50;
    top: 0;
    position: absolute;
    background-color: $white;
    transition: left 0.5s;
    #sub_items_block {
      .sub_item {
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid $grey;
        min-height: 50px;
        background-color: transparent;
      }
    }
  }
}

#search {
  height: 60px;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  padding: 10px 5px;
  width: 100vw;
  background-color: $white;
  .underlinedInput {
    flex: 1;
  }
  .divider {
    height: 30px;
  }
  img {
    width: 27px;
    height: 27px;
    margin: 0 8px;
  }
}

@media (min-width: 425px) {
  header {
    padding: 0 27px;
    #catalog_bar,
    #menu_icon {
      margin-left: 20px;
    }
  }
}

@media (min-width: 768px) {
  header {
    padding: 0 45px;
    #catalog_bar,
    #menu_icon {
      margin-left: 30px;
    }
  }
}

@media (min-width: 1024px) {
  header {
    flex-direction: column;
    padding: 0;
    border: none;
    height: auto;
    align-items: flex-start;
    justify-content: flex-start;
    section {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      width: 100%;
      padding: 0 27px;
    }
    #sec1_h {
      width: 100%;
      background-color: $grey;
      padding-top: 5px;
      padding-bottom: 3px;
      #sec1_h_wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        > {
          div {
            display: flex;
            align-items: center;
            margin: 0;
          }
        }
        * {
          font-size: 0.8rem;
          margin: 0 10px;
          color: $white;
        }
        a:hover {
          text-decoration: underline;
        }
        #tel_h {
          .sub_window {
            left: -13px;
            width: 104px;
            z-index: 50;
          }
        }
        #lang_h {
          .sub_window {
            left: -6px;
            z-index: 50;
          }
        }
        #tel_h,
        #lang_h {
          position: relative;
          &:hover .arrow {
            transform: rotate(0);
          }
          &:hover .sub_window {
            display: block;
          }
          .arrow {
            width: 8px;
            transform: rotate(180deg);
          }
          .sub_window {
            display: none;
            @include font("text");
            background-color: $grey;
            padding: 3px 10px;
            position: absolute;
            opacity: 0.9;
            top: 19px;
          }
        }
        #tel_h,
        #city_h,
        #lang_h {
          display: flex;
          align-items: center;
          cursor: pointer;
          span {
            margin-right: 5px;
          }
          .arrow {
            margin: 0;
          }
        }
        #user_h {
          display: flex;
          align-items: center;
          cursor: pointer;
          span {
            margin-left: 5px;
          }
          .arrow {
            width: 17px;
            margin: 0;
          }
        }
      }
    }
    #sec2_h {
      padding-top: 8px;
      padding-bottom: 8px;
      #sec2_h_wrapper {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
        #logo {
          cursor: pointer;
          width: 40px;
          height: 40px;
        }
        .catalog {
          margin: 0 0 0 15px;
          font-size: 1.4rem;
          cursor: pointer;
        }
        .underlinedInput {
          flex: 1;
          margin: 0 25px;
        }
        .search_icon,
        .search_clean {
          width: 20px;
          height: 20px;
        }
        .menu_icon {
          cursor: pointer;
          margin: 0 15px;
          width: 35px;
          height: 35px;
        }
      }
    }
  }
}
@media (min-width: 1024px) {
  header {
    #sec1_h {
      #sec1_h_wrapper {
        margin: 0 auto;
        width: 1386px;
      }
    }
    #sec2_h {
      #sec2_h_wrapper {
        margin: 0 auto;
        width: 1386px;
        .catalog {
          margin-left: 25px;
        }
        .underlinedInput {
          margin: 0 45px;
        }
        .menu_icon {
          margin: 0 25px;
        }
      }
    }
  }
}
