@import "init";

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
a {
  color: $text_grey;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font("header");
}

span,
p,
a {
  @include font("text");
}

.greyBG {
  z-index: 100;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: $window_bg;
  top: 0;
  left: 0;
}

.underlinedInput {
  display: flex;
  flex-direction: column;
  input {
    height: 30px;
    @include input;
    border-bottom: 2px solid $text_light_grey;
    &::placeholder {
      @include font("text");
      font-size: 0.9rem;
    }
  }
  span {
    @include font("header");
    font-size: 0.8rem;
    color: $text_grey;
  }
}

.search_icon , .search_clean {
  width: 30px;
  height: 30px;
}

button {
  outline: none;
}

.redBtn {
  cursor: pointer;
  border: none;
  background-color: $red;
  @include font("text");
  font-size: 1rem;
  color: $white;
  padding: 10px;
}

.divider {
  width: 1px;
  background-color: $grey;
}

.closeBtn {
  @include crossBtn;
}

hr {
  margin: 0;
  border-color: $light_grey;
}

@font-face {
  font-family: "header";
  src: url("../fonts/Manrope-ExtraBold.ttf");
}

@font-face {
  font-family: "text";
  src: url("../fonts/Manrope-Regular.ttf");
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
