@import "init";

#store {
  padding: 10px 15px;
  #bread_crumbs {
    a {
      font-size: 0.9rem;
    }
  }
}

@media (min-width: 768px) {
  #store {
    padding: 10px 45px;
  }
}

@media (min-width: 1024px) {
  #store {
    padding: 10px 27px;
    #bread_crumbs {
      display: flex;
      align-items: center;
      a {
        font-size: 0.9rem;
      }
      .arrow {
        margin: 0 5px;
        transform: rotate(-90deg);
        width: 12px;
      }
    }
  }
}

@media (min-width: 1440px) {
  #store {
    max-width: 1386px;
    margin: 10px auto;
  }
}
